body {
  background: url(../img/OCCNEV0.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.imgLoadin {
  background-size: cover;
  background-position: center;
  width: 50vw;
  margin-top: 50vw;
}

.imgScreenSearch {
  width: 35vw;
  height: 20vh;
  opacity: 0.7;
}

.logoSearch {
  width: 50vw;
  opacity: 0.85;
}

.imgLogosearch {
  margin-top: 3vw;
}

.textInput {
  font-family: "Sawasdee";
  font-size: 1.5rem;
  color: #595047;
}

.positionImg {
  position: absolute;
  bottom: 1rem;
}

.viewMap {
  height: 30vh;
  opacity: 0.85;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: #595047e6 solid 0.2rem;
  border-radius: 0.8rem;
}

@media (min-width: 767px) {
  .imgLoadin {
    margin-top: 15vw;
  }
  .textInput {
    font-family: "Sawasdee";
    font-size: 2.5rem;
    color: #595047;
  }
  .imgScreenSearch {
    width: 20vw;
  }
  .viewMap {
    height: 50vh;
    opacity: 0.85;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: #595047e6 solid 0.4rem;
    border-radius: 2rem;
  }
  .logoSearch {
    width: 25vw;
  }
}